{% extends "base_generic.html" %}

{% block title %}
    <title>Создание профиля специалиста на Wedday05</title>
{% endblock %}

{% load static %}

{% block specific_styles %}
    <link rel="stylesheet" href="{% static 'css/cheatsheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <body class="text-center">
    <main class="form-signin" style="max-width: 600px">
        <form method="post" action="">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'pictures/bg.png' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Wedday 05</h1>
            <h1 class="h3 mb-3 fw-normal">Регистрация специалиста на сайте</h1>
            <h1 class="h3 mb-3 fw-normal">Для завершения регистрации выберите профессии, которыми вы владеете</h1>

            {% for profession in professions.all %}

                <div class="checkbox mb-3" style="text-align: left">
                    <label>
                        <input type="checkbox" value={{ profession.name }} name="professions"> {{ profession.name }}
                    </label>
                </div>

            {% endfor %}

            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Ошибка. {{ form.errors }}
                </div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>Ваш аккаунт не имеет доступа к данной странице. Для продолжения пожалуйста зайдите на сайт с
                            аккаунтом имеющим доступ.</p>
                    </div>
                    {#        {% else %}#}
                    {#            <p>Для просмотра данной страницы необходимо войти на сайт.</p>#}
                {% endif %}
            {% endif %}
            {#            <div class="checkbox mb-3">#}
            {#                <label>#}
            {#                    <input type="checkbox" value="remember-me"> Запомнить меня#}
            {#                </label>#}
            {#            </div>#}
            <button class="w-100 btn btn-lg btn-primary" type="submit" value="submit">Продолжить</button>
            <input type="hidden" name="next" value="{{ next }}">
            {#            <p><br><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>#}
            <p class="mt-5 mb-3 text-muted">© 2021 Wedday 05</p>
        </form>
    </main>
    </body>

{% endblock %}

{% block footer %}
{% endblock %}