{% extends "base_generic.html" %}

{% block title %}
    <title>Сброс пароля пользователя Wedday05</title>
{% endblock %}

{% load static %}

{% block specific_styles %}
    <link rel="stylesheet" href="{% static 'css/cheatsheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <body class="text-center">
    <main class="form-signin">
        <form method="post" action="">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'pictures/bg.png' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Wedday 05</h1>
{#            <h1 class="h3 mb-3 fw-normal">Введите адрес электронной почты для сброса пароля</h1>#}
            <p>Введите адрес электронной почты для сброса пароля</p>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" autocomplete="email"
                       placeholder="Адрес электронной почты">
                <label for="floatingInput">Адрес электронной почты</label>
            </div>
            <br>
            {% if form.email.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Ошибка. {{ form.email.errors }}
                </div>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>Ваш аккаунт не имеет доступа к данной странице. Для продолжения пожалуйста зайдите на сайт с
                            аккаунтом
                            имеющим доступ.</p>
                    </div>
                {% else %}
                    <p>Для просмотра данной страницы необходимо войти на сайт.</p>
                {% endif %}
            {% endif %}
            <button class="w-100 btn btn-lg btn-primary" type="submit" value="Reset password">Отправить</button>
            <input type="hidden" name="next" value="{{ next }}">
            <p class="mt-5 mb-3 text-muted">© 2021 Wedday 05</p>
        </form>
    </main>
    </body>

{% endblock %}

{% block footer %}
{% endblock %}
