{% extends "base_generic.html" %}

{% block title %}
    <title>Сброс пароля пользователя Wedday05</title>
{% endblock %}

{% load static %}

{% block specific_styles %}
    <link rel="stylesheet" href="{% static 'css/cheatsheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <body class="text-center">
    <main class="form-signin">
        <img class="mb-4" src="{% static 'pictures/bg.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Wedday 05</h1>
        {% if validlink %}
            <p>Введите и подтвердите ваш новый пароль.</p>
            <form action="" method="post">
                {% csrf_token %}

                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInput" name="new_password1"
                           placeholder="Адрес электронной почты">
                    <label for="floatingInput">Новый пароль</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInput" name="new_password2"
                           placeholder="Адрес электронной почты">
                    <label for="floatingInput">Подтверждение</label>
                </div>
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        form.new_password1.errors
                    </div>
                {% endif %}
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        form.new_password2.errors
                    </div>
                {% endif %}
                <button class="w-100 btn btn-lg btn-primary" type="submit">Сменить пароль</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

        {% else %}
            <h1>Сброс пароля невозможен</h1>
            <p>Данная ссылка сброса пароля более не активна, скорее всего она уже была использована. Пожалуйста
                запросите новый сброс пароля.</p>
        {% endif %}
        <p class="mt-5 mb-3 text-muted">© 2021 Wedday 05</p>
    </main>
    </body>

{% endblock %}

{% block footer %}
{% endblock %}
