{% extends "base_generic.html" %}

{% block title %}
    <title>Wedday05. Настройки пользователя {{ user.username }}</title>
{% endblock %}

{% load static %}

{% block specific_styles %}
    <link rel="stylesheet" href="{% static 'css/form-validation.css' %}">
{% endblock %}

{% block header %}
    <div class="container" style="flex: 0 1 auto">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="{% static 'pictures/bg.png' %}" alt="Wedday 05 logo" height="50" width="50" data-atf="1"
                     class="bi me-2">
                <span class="fs-4">Wedday05</span>
            </a>
        </header>
    </div>
{% endblock %}


{% block content %}
    <div class="container" style="flex: 1 0 auto">
        <main>
            <div class="py-5 text-center">
                <h2>Данные пользователя "{{ user.username }}"</h2>
                <p class="lead"></p>
            </div>
            <div class="row g-5">
                {% if form.errors %}
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Ошибка. {{ form.errors }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-7 col-lg-8" style="margin: 48px auto">
                    <h4 class="mb-3">Ваши данные</h4>
                    <form class="needs-validation" novalidate="" method="post" action="">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="email" class="form-label">Адрес электронной почты</label>
                                <input type="email" class="form-control" id="id_email" name="email"
                                       {% if user.email != None %}value="{{ user.email }}"{% endif %}>
                                <div class="invalid-feedback">
                                    Пожалуйста введите адрес электронной почты правильного формата.
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="phone_number" class="form-label">Номер телефона</label>
                                <input type="tel" class="form-control" id="id_phone_number" name="phone_number"
                                       {% if user.phone_number != None %}value="{{ user.phone_number }}"{% endif %}>
                                <div class="invalid-feedback">
                                    Пожалуйста введите номер телефона в правильном формате.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="first_name" class="form-label">Имя</label>
                                <input type="text" class="form-control" id="id_first_name" name="first_name"
                                       {% if user.first_name != None %}value="{{ user.first_name }}"{% endif %}>
                            </div>
                            <div class="col-sm-6">
                                <label for="last_name" class="form-label">Фамилия</label>
                                <input type="text" class="form-control" id="id_last_name" name="last_name"
                                       {% if user.last_name != None %}value="{{ user.last_name }}"{% endif %}>
                            </div>
                            <div class="col-12">
                                <label for="location" class="form-label">Дата рождения</label>
                                <input type="date" class="form-control" id="id_birth_date" name="birth_date"
                                       {% if user.birth_date != None %}value="{{ user.birth_date|date:"Y-m-d" }}"{% endif %}>
                            </div>
                            <div class="col-12">
                                <label for="location" class="form-label">Расположение</label>
                                <input type="text" class="form-control" id="id_location" name="location"
                                       {% if user.location != None %}value="{{ user.location }}"{% endif %}>
                            </div>
                            <div class="col-12">
                                <label for="location" class="form-label">О себе</label>
                                <textarea class="form-control" id="id_description" name="description"
                                >{% if user.description != None %}{{ user.description }}{% endif %}</textarea>
                            </div>
                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-secondary" type="submit" value="submit">Сохранить</button>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block specific_scripts %}
    <script src="{% static 'js/form-validation.js' %}"></script>
{% endblock %}

