* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.header_container {
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    color: #1a1e21;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #F0F8FF;
    /*background-color: slateblue;*/
    background-color: #6a5acd;
}

.nav-link:focus, .nav-link:hover {
    color: #6a5acd;
}

.carousel-item {
    height: 30rem;
}

.form-text {
    text-align: left;
}

.layout-footer {
    flex: 0 0 auto;
    margin: 20px 40px 0px 40px;
    padding: 20px 0 3rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
        /*padding-bottom: 3rem;*/
}

.footer-left-column {
    float: left;
    width: 50%;
}

.footer-right-column {
    float: left;
    text-align: right;
    width: 50%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 3rem;
    /*padding-bottom: 3rem;*/
}