* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.header_container {
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    color: #1a1e21;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #F0F8FF;
    /*background-color: slateblue;*/
    background-color: #6a5acd;
}

.nav-link:focus, .nav-link:hover {
    color: #6a5acd;
}

.carousel-item {
    height: 30rem;
}

.form-text {
    text-align: left;
}

.layout-footer {
    flex: 0 0 auto;
    margin: 20px 40px 0px 40px;
    padding: 20px 0 3rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /*padding-bottom: 3rem;*/
}

.footer-left-column {
    float: left;
    width: 50%;
}

.footer-right-column {
    float: left;
    text-align: right;
    width: 50%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 3rem;
    /*padding-bottom: 3rem;*/
}

.catalog-results {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px -12px 8px;
}

.catalog-element {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    flex: 0 0 auto;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}

.catalog-element-inbox {
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
    overflow: hidden !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    position: relative !important;
    border: 1px solid #dee2e6 !important;
    margin-bottom: 1.5rem !important;
    /*border-radius: .25rem !important;*/
    flex-direction: row !important;
    height: 250px;
    border-radius: 10px;
}

.catalog-element-info {
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    margin-top: var(--bs-gutter-y);
    flex: 1 0 0%;
    display: flex !important;
    position: static !important;
    flex-direction: column !important;
    padding: 1.5rem !important;
}

.catalog-element-thumbnail {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    box-sizing: border-box;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
    flex: 0 0 auto;
    width: auto;
    display: block !important;
}

.catalog-element-rating {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 0 3px;
    background-color: #267eff;
    color: #fff;
    padding: 2px 8px;
}